git lfs track "*.psd"
git lfs track "*.png"
git lfs track "*.jpg"
git lfs track "*.fbx"
git lfs track "*.mp4"
git lfs track "*.wav"
git lfs track "*.ogg"
git lfs track "*.ttf"
git lfs track "*.unitypackage"